{% extends 'Partials/_Base.html' %} 
{% load static %} 
{% block Titulo %} 
GeoDeBus - Agregar Bus
{% endblock %} 
{% block Style %}
{% endblock %} 
{% block Content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><i class="fas fa-bus"></i> Información del bus</div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Formulario</h3>
                </div>
                <hr>
                <form method="post" action="{% url 'agregarBus' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label mb-1"><b>Patente</b></label>
                         {{formBus.patente}}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1"><b>Modelo</b></label>
                                {{formBus.modelo}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1"><b>Color</b></label>
                                {{formBus.color}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1"><b>Vencimiento Revisión Técnica</b></label>
                                {{formBus.fechaVencimiento}}
                                 <small class="form-text text-muted"><span class="red">{{formBus.errors.fechaVencimiento.as_text }}</span>&nbspAño-Mes-Dia</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                <label class="control-label mb-1"><b>Serial GPS</b> </label>
                                {{formBus.serial}}
                                <small class="form-text text-muted"><span class="red">{{formSerialGps.errors.serial.as_text }}</span></small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                            <i class="fa fa-bus fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">Agregar Bus</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block JavaScript %}
<script src="{% static 'vendor/mask/dist/jquery.mask.min.js' %}"></script>
<script>
    $('#id_fechaVencimiento').mask("9999-99-99", { placeholder: 'YYYY-MM-DD' });
</script>
{% endblock %}