{% extends 'Partials/_Base.html' %} 
{% load static %}
{% block Titulo %} 
GeoDeBus - Lista de Conductores
{% endblock %} 
{% block Style %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}" />
<style>
    .select2-search__field {
        width: 100% !important;
    }
    .modal-dialog {
        min-height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }
    @media(max-width: 768px) {
        .modal-dialog {
            min-height: calc(100vh - 20px);
        }
    }
</style>
{% endblock %} 
{% block Content %}
<div class="row">
    <div class="col">
        <!-- USER DATA-->
        <div class="user-data m-b-30">
            <h3 class="title-3 m-b-30">
                <i class="fas fa-user"></i>Conductores Agregados
                <a href="{% url 'agregarConductor' %}" class="pull-right">
                    <button class="btn-sm btn-success"><i class="fas fa-plus"></i>Agregar Conductor</button>
                </a>
            </h3>
            <div class="table-responsive">
                <table class="table table-borderless" id="tableConductor">
                    <thead>
                        <tr>
                            <td>Rut</td>
                            <td>Nombre - Apellido</td>
                            <td>Teléfono</td>
                            <td>Bus designado</td>
                            <td>Estado</td>
                            <td>Acción</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- END USER DATA-->
    </div>
</div>
<button id="modalWindow" style="display: none" type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#largeModal"></button>
<button id="modalMap" style="display: none" type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#MapModal"></button>
<button id="modalAsignar" style="display: none" type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#AsignarModal"></button>
{% endblock %} 
{% block Modal %}
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">
                    <i class="fas fa-user"></i> Información del conductor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-title">
                    <h3 class="text-center title-2" id="nombreFormularioModal">Formulario</h3>
                </div>
                <hr>
                <form id="formModal">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Nombre</label>
                                {{formConductor.nombre}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Apellido</label>
                                {{formConductor.apellido}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Rut</label>
                                {{formConductor.rut}}
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="control-label mb-1">Dv</label>
                                {{formConductor.dv}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Fecha Nacimiento</label>
                                {{formConductor.fechaNacimiento}}
                                <small class="form-text text-muted">Año-Mes-Dia</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Dirección</label>
                                {{formConductor.direccion}}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Teléfono</label>
                                {{formConductor.telefono}}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Fecha vencimiento revisión</label>
                                {{formConductor.fechaVencimiento}}
                                <small class="form-text text-muted">Año-Mes-Dia</small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button id="editarConductor" type="button" class="btn btn-lg btn-info btn-block">
                            <i class="fa fa-user fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">Editar Conductor</span>
                        </button>
                        <button id="guardarConductor" type="submit" class="btn btn-lg btn-info btn-block">
                            <i class="fa fa-pencil-alt fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">Guardar</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MapModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel"><i class="fas fa-bus"></i> Posición del bus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.753146711473!2d-71.23642084865426!3d-34.987847485335635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966457a8d47445a1%3A0x9f73f3e8161c7514!2sJos%C3%A9+Manso+de+Velasco+287%2C+Curic%C3%B3%2C+Regi%C3%B3n+del+Maule!5e0!3m2!1ses!2scl!4v1528498347524"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AsignarModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel"><i class="fas fa-bus"></i> Asignar bus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="form-group">
                    <label for="">Seleccionar Bus</label>
                    <select id="selectBus" class="form-control"></select>
                </div>
                <button id="asignarBus" class="btn btn-success" type="button">Asignar Bus</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block JavaScript %} 
<script type="text/javascript" src="{% static 'vendor/datatable/datatables.min.js' %}"></script>
<script src="{% static 'vendor/mask/dist/jquery.mask.min.js' %}"></script>
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script>
    var conductor;
    var tablaConductor = 
    $('#tableConductor').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{% url 'conductor' %}",
            "type": "POST",
            "data": {
                "csrfmiddlewaretoken": getCookie('csrftoken'),
                "action": 'datatable'
            },
        },
        "columns": [
            { "data": "Rut" },
            { "data": "Nombre" },
            { "data": "Telefono" },
            { "data": "Bus" },
            { "data": "Estado" },
            { "data": "Accion" },
        ],
        "columnDefs": [{
                "className": 'text-center',
                "targets": [5],
            }],
        language : {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "iDisplayLength": 10,
    });
    $('#tableConductor_wrapper').addClass('m-b-15');
    $('#id_fechaNacimiento').mask("9999-99-99", { placeholder: 'YYYY-MM-DD' });
    $('#id_fechaVencimiento').mask("9999-99-99", { placeholder: 'YYYY-MM-DD' });
    $('#id_serial').prop('disabled', true);
    $(document).on('click', '.deshabilitar', function () {
        button = $(this);
        $.ajax({
            url: "{% url 'conductor' %}",
            type: "POST",
            data: {
                pk: button.parent().data('pk'),
                action: "deshabilitar",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                tablaConductor.draw();
            },
        });
    });
    $(document).on('click', '.habilitar', function () {
        button = $(this);
        $.ajax({
            url: "{% url 'conductor' %}",
            type: "POST",
            data: {
                pk: button.parent().data('pk'),
                action: "habilitar",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                tablaConductor.draw();
            },
        });
    });
    $(document).on('click', '.editar', function(){
        pk = $(this).parent().data('pk');
        $.ajax({
            url: "{% url 'conductor' %}",
            type: "POST",
            data: {
                pk: pk,
                action: "ver_editar",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                conductor = pk;
                $('#guardarConductor').hide();
                $('#editarConductor').show();
                $('#nombreFormularioModal').html('Rut/Nombre del conductor: <b>' + data.rut + '-' + data.dv + '/' + data.nombre + ' ' + data.apellido + '</b>');
                $('#id_nombre').val(data.nombre).prop('disabled', true);
                $('#id_apellido').val(data.apellido).prop('disabled', true);
                $('#id_rut').val(data.rut).prop('disabled', true);
                $('#id_dv').val(data.dv).prop('disabled', true);
                $('#id_fechaVencimiento').val(data.fechaVencimiento).prop('disabled', true);
                $('#id_direccion').val(data.direccion).prop('disabled', true);
                $('#id_telefono').val(data.telefono).prop('disabled', true);
                $('#id_fechaNacimiento').val(data.fechaNacimiento).prop('disabled', true);
                $('#modalWindow').trigger('click');
            },
        });
    });
    $("#editarConductor").on('click', function () {
        $('#guardarConductor').show();
        $('#editarConductor').hide();
        $('#id_nombre').prop('disabled', false);
        $('#id_apellido').prop('disabled', false);
        $('#id_rut').prop('disabled', false);
        $('#id_dv').prop('disabled', false);
        $('#id_fechaVencimiento').prop('disabled', false);
        $('#id_direccion').prop('disabled', false);
        $('#id_telefono').prop('disabled', false);
        $('#id_fechaNacimiento').prop('disabled', false);
    });
    $(document).on('click', '.asignar', function(){
        pk = $(this).parent().data('pk');
        $.ajax({
            url: "{% url 'conductor' %}",
            type: "POST",
            data: {
                pk : pk,
                action: "cargarBus",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                conductor = pk;
                $('#selectBus').empty().trigger('change');
                $('#selectBus').select2({
                    placeholder: "Selecciona un bus",
                    data: data.buses,
                });                
                $('#selectBus').val([data.seleccionado[0], data.seleccionado[1]]).trigger('change');
                $('#modalAsignar').trigger('click');
            },
        });
    })
    $('#asignarBus').on('click', function(){
        $.ajax({
            url: "{% url 'conductor' %}",
            type: "POST",
            data: {
                pk: pk,
                pkBus: $('#selectBus').val(),
                action: "asignarBus",
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success: function (data) {
                $('#AsignarModal').trigger('click');
                tablaConductor.draw();
            },
        });
    })
    $('#formModal').submit(function () {
        formulario = new FormData();
        datos = $(this).serializeArray();
        $.each(datos, function (key, input) {
            formulario.append(input.name, input.value);
        });
        formulario.append('action', 'editar');
        formulario.append("csrfmiddlewaretoken", getCookie('csrftoken'));
        formulario.append("pk", conductor);
        $.ajax({
            url: '{% url "conductor" %}',
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formulario,
            success: function (data) {
                if(data.Respuesta){
                    tablaConductor.draw();
                    $('#closeModal').trigger('click');
                }else{
                    
                }
            },
        });
        return false;
    });
    $('#mantenedorConductor').addClass('active has-sub');
</script>
{% endblock %}