{% extends 'Partials/_Base.html' %}
{% block Titulo %}
GeoDeBus - Home
{% endblock %}
{% block Style %}
<style media="screen">
    #map {
        height: 500px;
    }
</style>
{% endblock %}
{% block Content %}
<div class="row m-t-25">
    <div class="col-3">
        <div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="text icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                    <div class="text m-b-15">
                        <h2>{{totalConductor}}</h2>
                        <span>Conductores</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="overview-item overview-item--c2">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="fas fa-bus"></i>
                    </div>
                    <div class="text m-b-15">
                        <h2>{{totalBus}}</h2>
                        <span>Buses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="overview-item overview-item--c3">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <div class="text m-b-15">
                        <h2>{{enRuta}}</h2>
                        <span>Buses en ruta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="overview-item overview-item--c4">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </div>
                    <div class="text m-b-15">
                        <h2>{{totalRuta}}</h2>
                        <span>Rutas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map"></div>
<div class="row m-t-25">
    <div class="col-lg-12">
        <h2 class="title-1 m-b-25">Vehículos en Ruta</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Patente</th>
                        <th>Conductor</th>
                        <th>Posición Actual</th>
                    </tr>
                </thead>
                <tbody id="cuerpoTablaConductor">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block JavaScript %}
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDWNKzllkFkkJdm6JeA5iAWK9rpZUZr2Q&callback=initMap%22%3E"></script>
<script>
    var map;
    var infowindow = [];
    var markers = [];
    var geocoder = new google.maps.Geocoder;
    function updateMarks() {
        $.ajax({
            url: "{% url 'index' %}",
            type: "POST",
            data: {
                'action': "update",
                'csrfmiddlewaretoken': getCookie('csrftoken'),
            },
            success: function (data) {
                reloadMarkers(data['localizacion']);
                $('#cuerpoTablaConductor').html('');
                for(x = 0; x < data['localizacion'].length; x++){
                    actualizarTabla(data['localizacion'][x]);
                }
            },
        });
    };
    function setMarkers(newData) {
        for (i = 0; i < newData.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(newData[i][1], newData[i][2]),
                map: map,
            });
            google.maps.event.addListener(marker, (function (marker, i) {
                infowindow.push(new google.maps.InfoWindow);
                infowindow[i].setContent(newData[i][0]);
                infowindow[i].open(map, marker);
            })(marker, i));
        markers.push(marker);
        }
    }

    function reloadMarkers(newData) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        infowindow = [];
        setMarkers(newData);
    }
    function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: new google.maps.LatLng(-33.448890, -70.669265),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    }
     initialize();
     updateMarks();
     setInterval('updateMarks()', 10000);
    function actualizarTabla(data){
        geocoder.geocode({ 'location': new google.maps.LatLng(data[1], data[2]) }, function (results, status) {
            if (status === 'OK') {
                if (results[1]) {
                    $('#cuerpoTablaConductor').append('<tr> \
                                                           <td>' + data[0] + '</td> \
                                                           <td>' + data[4] + '</td> \
                                                           <td>' + results[1]['address_components'][0]['short_name'] + '</td> \
                                                       </tr>')
                } else {
                    window.alert('No results found');
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    }
    $('#index').addClass('active has-sub');
</script>
{% endblock %}