{% extends 'Partials/_Base.html' %}
{% block Titulo %}
{% endblock %}
{% block Style %}
{% endblock %}
{% block Content %}
{% load static %}
<div class="row au-card recent-report">  
    <div class="col-4 ">
        
            <br>
            <img src="{% static 'images/ministerio.png' %}" width="350" height="220">
            <br>
        
        
    </div>
    <div class="col-4">
        
            <img src="{% static 'images/geodb.png' %}" width="350" height="220">
        
    </div>
    <div class="col-4"></div>
</div>
<div class="row m-t-25">
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <style>
                        h5 {
                            size: 8px;
                            font-size: 16px;
                            color:  ##2F4F4F;
                        }
                        span #tam18 {
                            size: 8px;
                            font-size: 16px;

                        }
                    </style>
                    <div class="text icon">
                        <i class="zmdi zmdi-account-o"></i>
                        <span id="tam18">{{num_conduc}}</span>
                        <h5>Numero de conductores</h5>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart1"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c2">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    
                    <div class="text icon">
                        <i class="fas fa-bus"></i>
                        <span id="tam18">{{num_bus}}</span>
                        <h5>Numero de Buses</h5>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart2"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c3">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="text icon">
                        <i class="zmdi zmdi-calendar-note"></i>
                        <span>{{num_bus_terreno}}</span>
                        <h5>buses en terreno</h5>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart3"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block JavaScript %}
{% endblock %}