{% load static %}
<aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'images/Screenshot_1.png' %}" width="40" height="40" alt="GeoDeBus" />
                </a>
                <a href="">&nbsp;  GeoDeBus</a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'list_buses' %}">
                                <i class="fas fa-chart-bar"></i>Bus</a>
                        </li>
                        <li>
                            <a href="{% url 'list_conductores' %}">
                                <i class="fas fa-table"></i>Conductores</a>
                        </li>
                        <li>
                            <a href="{% url 'list_rutas' %}">
                                <i class="far fa-check-square"></i>Rutas</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Empresas</a>
                        </li>
                    
                
                    </ul>
                </nav>
            </div>
        </aside>